.dropdown-menu > li > .logoutForm > a {
    font-size: 13px;
    margin-bottom: 1px;
    margin-top: 1px;
    display: block;
    padding: 4px 12px;
    clear: both;
    font-weight: normal;
    line-height: 1.428571429;
    color: #333;
    white-space: nowrap;
}

.user-menu > li > .logoutForm > a > [class*="icon-"] {
    margin-right: 6px;
    font-size: 120%;
}

.loading {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
}

    .loading .background-gray {
        position: relative;
        top: 0;
        background-color: #808080;
        width: 100%;
        height: 100%;
        opacity: 0.3;
        z-index: 50;
    }

    .loading > i {
        position: absolute;
        left: 40%;
        top: 40%;
        z-index: 51;
    }


.subject-activity {
    padding: 10px 4px;
    border-bottom: 1px dotted #d0d8e0;
    position: relative;
    border-left: 1px dotted #FFF;
    border-right: 1px dotted #FFF;
    font-size: 15px;
}

    .subject-activity:first-child {
        border-top: 1px dotted transparent;
    }

        .subject-activity:first-child:hover {
            border-top-color: #d0d8e0;
        }

    .subject-activity:hover {
        background-color: #f4f9fd;
        border-left: 1px dotted #d0d8e0;
        border-right: 1px dotted #d0d8e0;
    }

    .subject-activity img {
        border: 2px solid #c9d6e5;
        border-radius: 100%;
        max-width: 40px;
        margin-right: 10px;
        margin-left: 0;
        box-shadow: none;
    }

    .subject-activity .thumbicon {
        background-color: #74abd7;
        display: inline-block;
        border-radius: 100%;
        width: 38px;
        height: 38px;
        color: #FFF;
        font-size: 18px;
        text-align: center;
        line-height: 38px;
        margin-right: 10px;
        margin-left: 0;
        text-shadow: none !important;
    }

    .subject-activity .time {
        display: block;
        margin-top: 4px;
        color: #777;
    }

    .subject-activity a.subject {
        font-weight: bold;
        color: #9585bf;
    }

    .subject-activity .tools {
        position: absolute;
        right: 12px;
        bottom: 8px;
        display: none;
    }

    .subject-activity:hover .tools {
        display: block;
    }
/*
        <div class="widget-box-overlay"><i class="icon-spinner icon-spin icon-2x white"></i></div>
*/
#membershipList .table-hover > tbody > tr:hover > td .actionBtns {
    display: block !important;
}

#membershipList .table-hover > tbody > tr > td .actionBtns {
    display: none !important;
}
