.dropdown-menu > li > .logoutForm > a {
    font-size: 13px;
    margin-bottom: 1px;
    margin-top: 1px;
    display: block;
    padding: 4px 12px;
    clear: both;
    font-weight: normal;
    line-height: 1.428571429;
    color: #333;
    white-space: nowrap;
}

.user-menu > li > .logoutForm > a > [class*="icon-"] {
    margin-right: 6px;
    font-size: 120%;
}

.loading {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
}

    .loading .background-gray {
        position: relative;
        top: 0;
        background-color: #808080;
        width: 100%;
        height: 100%;
        opacity: 0.3;
        z-index: 50;
    }

    .loading > i {
        position: absolute;
        left: 40%;
        top: 40%;
        z-index: 51;
    }
