<div class="navbar navbar-default" id="navbar">
    <div class="navbar-container" id="navbar-container">
        <div class="navbar-header pull-left">
            <a href="@Url.Action(null)" class="navbar-brand">
                <span>
                    <i class="icon-leaf green"></i>
                    <span class="red">e</span>
                    <span class="white">University</span>
                </span>
            </a>
        </div>
        <div class="navbar-header pull-right" role="navigation">
            <ul class="nav ace-nav">
                <li class="light-blue">
                    @Html.Partial("_LoginPartial")
                </li>
            </ul>
        </div>
    </div>
</div>
