<div class="page-header">
    <h1>@ViewBag.PageHeader
        @if (ViewBag.AdditionalInfo != null)
        {
            <small>
                <i class="icon-double-angle-right"></i>
                @ViewBag.AdditionalInfo
            </small>
        }
    </h1>
</div>
