<div class="step-pane" data-bind="css: { active: IsActive, complete: IsCompleted }">
    <h3 class="lighter block green">Предметы</h3>
    <!-- ko foreach: Subjects -->
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-3 no-padding-right">Название предмета</label>

        <div class="col-xs-12 col-sm-9">
            <div class="clearfix">
                <a href="#" class="btn btn-white" data-bind="text:DisplayName, click:ShowSubject"></a>
@*                <input style="width: 200px;" type="hidden" data-bind="selectedValue: Id, select2: { minimumInputLength: 0, query: Query },select2Options: {data: Id}" />*@
            </div>
        </div>
    </div>
    <div class="hr hr-dotted"></div>
    <!-- /ko -->
    <div class="form-group">
        <div class="col-xs-12 col-sm-5 col-sm-offset-3">
            <h4 class="pink">
                <i class="icon-hand-right icon-animated-hand-pointer blue"></i>
                <a href="#" role="button" class="green" data-bind="click: AddSubject">Добавить предмет</a>
            </h4>
        </div>
    </div>

</div>
