@model eUniversity.Business.ViewModels.Curriculum.CurriculumViewModel
@{
    ViewBag.PageHeader = "Учебный план";
    if (Model == null || Model.HeaderSection == null || Model.HeaderSection.Id == 0)
    {
        ViewBag.AdditionalInfo = "Добавление нового учебного плана";
    }
    else
    {
        ViewBag.AdditionalInfo = "Редактирование учебного плана";
    }

    if (Request.IsAjaxRequest())
    {
        Layout = null;
    }
}
@Html.Partial("_PageHeader")
<div class="row">
    <div class="col-xs-12">
        <div id="fuelux-wizard" class="row" data-target="#step-container">
            <ul class="wizard-steps">
                <li data-target="#step1" class="active">
                    <span class="step">&nbsp;</span>
                    <span class="title">Общая информация</span>
                </li>



                <li data-target="#step4">
                    <span class="step">3</span>
                    <span class="title">Семестр</span>
                </li>
            </ul>
        </div>

        <hr>
        <div class="step-content row position-relative" id="step-container">
            <div class="step-pane active" id="step1">
                <h3 class="lighter block green">Enter the following information</h3>

                <form class="form-horizontal" id="sample-form">
                    <div class="form-group has-warning">
                        <label for="inputWarning" class="col-xs-12 col-sm-3 control-label no-padding-right">Input with warning</label>

                        <div class="col-xs-12 col-sm-5">
                            <span class="block input-icon input-icon-right">
                                <input type="text" id="inputWarning" class="width-100">
                                <i class="icon-leaf"></i>
                            </span>
                        </div>
                        <div class="help-block col-xs-12 col-sm-reset inline">
                            Warning tip help!
                        </div>
                    </div>

                    <div class="form-group has-error">
                        <label for="inputError" class="col-xs-12 col-sm-3 col-md-3 control-label no-padding-right">Input with error</label>

                        <div class="col-xs-12 col-sm-5">
                            <span class="block input-icon input-icon-right">
                                <input type="text" id="inputError" class="width-100">
                                <i class="icon-remove-sign"></i>
                            </span>
                        </div>
                        <div class="help-block col-xs-12 col-sm-reset inline">Error tip help! </div>
                    </div>

                    <div class="form-group has-success">
                        <label for="inputSuccess" class="col-xs-12 col-sm-3 control-label no-padding-right">Input with success</label>

                        <div class="col-xs-12 col-sm-5">
                            <span class="block input-icon input-icon-right">
                                <input type="text" id="inputSuccess" class="width-100">
                                <i class="icon-ok-sign"></i>
                            </span>
                        </div>
                        <div class="help-block col-xs-12 col-sm-reset inline">
                            Success tip help!
                        </div>
                    </div>

                    <div class="form-group has-info">
                        <label for="inputInfo" class="col-xs-12 col-sm-3 control-label no-padding-right">Input with info</label>

                        <div class="col-xs-12 col-sm-5">
                            <span class="block input-icon input-icon-right">
                                <input type="text" id="inputInfo" class="width-100">
                                <i class="icon-info-sign"></i>
                            </span>
                        </div>
                        <div class="help-block col-xs-12 col-sm-reset inline">Info tip help! </div>
                    </div>

                    <div class="form-group">
                        <label for="inputError2" class="col-xs-12 col-sm-3 control-label no-padding-right">Input with error</label>

                        <div class="col-xs-12 col-sm-5">
                            <span class="input-icon block">
                                <input type="text" id="inputError2" class="width-100">
                                <i class="icon-remove-sign red"></i>
                            </span>
                        </div>
                        <div class="help-block col-xs-12 col-sm-reset inline">Error tip help! </div>
                    </div>
                </form>
            </div>

            <div class="step-pane" id="step4">
                <div class="center">
                    <h3 class="green">Congrats!</h3>
                    Your product is ready to ship! Click finish to continue!
                </div>
            </div>
        </div>

        <hr>
        <div class="row wizard-actions">
            <button class="btn btn-prev" disabled="disabled">
                <i class="icon-arrow-left"></i>
                Prev
            </button>

            <button class="btn btn-success btn-next" data-last="Finish ">
                Next
															<i class="icon-arrow-right icon-on-right"></i>
            </button>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        var $validation = false;
        $('#fuelux-wizard').ace_wizard().on('change', function (e, info) {
            if (info.step == 1 && $validation) {
                if (!$('#validation-form').valid()) return false;
            }
        }).on('finished', function (e) {
            alert('Thank you! Your information was successfully saved!');
            bootbox.dialog({
                message: "Thank you! Your information was successfully saved!",
                buttons: {
                    "success": {
                        "label": "OK",
                        "className": "btn-sm btn-primary"
                    }
                }
            });
        }).on('stepclick', function (e) {
            //return false;//prevent clicking on steps
        });
    });
</script>
