@model eUniversity.Business.ViewModels.Profile.BasicProfileViewModel

<script type="text/html" id="basicProfileViewModel-template">
    <div id="edit-basic" class="tab-pane" data-bind="css:{active: IsActive}">
        <!-- ko with: GeneralSection -->
        @Html.Partial("EditorTemplates/GeneralInfoSectionViewModel", new ViewDataDictionary())
        <!-- /ko -->
    </div>

</script>