@using  eUniversity.Web.Extensions
@{
    Layout = null;
}
@{
    var ajaxOptions = new AjaxOptions()
        {
            UpdateTargetId = "profile-form",
            InsertionMode = InsertionMode.Replace,
            
        };
}
<form class="form-horizontal" id="profile-form">
    <div class="tabbable">
        <ul class="nav nav-tabs padding-16">
            <li class="">
                @Ajax.RawActionLink("<i class=\"green icon-edit bigger-125\"></i>Basic Info", "BasicInfo", "Profile", ajaxOptions)
            </li>

            <li>
                @Ajax.RawActionLink("<i class=\"purple icon-cog bigger-125\"></i>Settings", "Settings", "Profile", ajaxOptions)
                
            </li>

            <li class="active">
                 @Ajax.RawActionLink("<i class=\"blue icon-key bigger-125\"></i>Password", "ChangePassword", "Profile", ajaxOptions)
            </li>
        </ul>

        <div class="tab-content profile-edit-tab-content">

            <div id="edit-password" class="tab-pane active">
                <div class="space-10"></div>

                <div class="form-group">
                    <label class="col-sm-3 control-label no-padding-right" for="form-field-pass1">New Password</label>

                    <div class="col-sm-9">
                        <input type="password" id="form-field-pass1">
                    </div>
                </div>

                <div class="space-4"></div>

                <div class="form-group">
                    <label class="col-sm-3 control-label no-padding-right" for="form-field-pass2">Confirm Password</label>

                    <div class="col-sm-9">
                        <input type="password" id="form-field-pass2">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="clearfix form-actions">
        <div class="col-md-offset-3 col-md-9">
            <button class="btn btn-info" type="button">
                <i class="icon-ok bigger-110"></i>
                Save
            </button>

            &nbsp; &nbsp;
														<button class="btn" type="reset">
                                                            <i class="icon-undo bigger-110"></i>
                                                            Reset
                                                        </button>
        </div>
    </div>
</form>
