@model eUniversity.Business.ViewModels.Profile.ChangePasswordViewModel
<script type="text/html" id="changePasswordViewModel-template">
    <div id="edit-password" class="tab-pane" data-bind="css:{active: IsActive}">

        <div class="space-10"></div>

        <div class="form-group">
            <label class="col-sm-3 control-label no-padding-right" for="form-field-pass1">New Password</label>

            <div class="col-sm-9">
                <input type="password" id="form-field-pass1">
            </div>
        </div>

        <div class="space-4"></div>

        <div class="form-group">
            <label class="col-sm-3 control-label no-padding-right" for="form-field-pass2">Confirm Password</label>

            <div class="col-sm-9">
                <input type="password" id="form-field-pass2">
            </div>
        </div>
    </div>
</script>



