@model eUniversity.Business.ViewModels.Profile.SocialInfoSectionViewModel
<h4 class="header blue bolder smaller">Social</h4>

<div class="form-group">
    <label class="col-sm-3 control-label no-padding-right" for="form-field-facebook">Facebook</label>

    <div class="col-sm-9">
        <span class="input-icon">
            <input type="text" value="facebook_alexdoe" id="form-field-facebook">
            <i class="icon-facebook blue"></i>
        </span>
    </div>
</div>

<div class="space-4"></div>

<div class="form-group">
    <label class="col-sm-3 control-label no-padding-right" for="form-field-twitter">Twitter</label>

    <div class="col-sm-9">
        <span class="input-icon">
            <input type="text" value="twitter_alexdoe" id="form-field-twitter">
            <i class="icon-twitter light-blue"></i>
        </span>
    </div>
</div>

<div class="space-4"></div>

<div class="form-group">
    <label class="col-sm-3 control-label no-padding-right" for="form-field-gplus">Google+</label>

    <div class="col-sm-9">
        <span class="input-icon">
            <input type="text" value="google_alexdoe" id="form-field-gplus">
            <i class="icon-google-plus red"></i>
        </span>
    </div>
</div>