@{
    ViewBag.Title = "Contact";
    ViewBag.PageHeader = "Test";
    ViewBag.AdditionalInfo = "3 styles with inline editable feature";
    Layout = "~/Views/Shared/_Layout.simple.cshtml";
}
@Html.Partial("_PageHeader")
<div class="row">
    <div class="col-xs-12">
    </div>
</div>
