@model object
@{
    ViewBag.PageHeader = "Профиль";
    ViewBag.AdditionalInfo = User.Identity.Name;
    if (Request.IsAjaxRequest())
    {
        Layout = null;
    }
}
@Html.Partial("_PageHeader")

<div class="row">
    <div class="col-xs-12">
        <div class="">
            <div class="user-profile row">
                <div class="col-sm-offset-1 col-sm-10">
                    <div class="well well-sm">
                        <button type="button" class="close" data-dismiss="alert">×</button>
                        &nbsp;
												<div class="inline middle blue bigger-110">Your profile is 70% complete </div>

                        &nbsp; &nbsp; &nbsp;
												<div style="width: 200px;" data-percent="70%" class="inline middle no-margin progress progress-striped active">
                                                    <div class="progress-bar progress-bar-success" style="width: 70%"></div>
                                                </div>
                    </div>
                    <div class="space"></div>
                    @Html.EditorFor(m=>m)
@*                    @Html.Action("BasicInfo", "Profile")*@
                </div>
            </div>
        </div>
    </div>
</div>
