@{
    ViewBag.PageHeader = "Профиль";
    ViewBag.AdditionalInfo = User.Identity.Name;
    if (Request.IsAjaxRequest())
    {
        Layout = null;
    }
}
@Html.Partial("_PageHeader")

<div class="row">
    <div class="col-xs-12">
        <div class="hr dotted"></div>
        <div>
            <div class="user-profile row">
                <div class="col-xs-6 col-sm-3 center">
                    <div>
                        <span class="profile-picture">
                            <img id="avatar" class="editable img-responsive editable-click editable-empty" alt="AAvatar" src="~/Avatars/avatar1.png">
                        </span>

                        <div class="space-4"></div>

                        <div class="width-80 label label-info label-xlg arrowed-in arrowed-in-right">
                            <div class="inline position-relative">
                                <a href="#" class="user-title-label dropdown-toggle" data-toggle="dropdown">
                                    <span class="white">Alex M. Doe</span>
                                </a>
                            </div>
                        </div>
                    </div>

                    <div class="space-6"></div>

                    <div class="profile-contact-info">
                        <div class="profile-social-links center">
                            <a href="#" class="tooltip-info" title="" data-original-title="Visit my Facebook">
                                <i class="middle icon-facebook-sign icon-2x blue"></i>
                            </a>

                            <a href="#" class="tooltip-info" title="" data-original-title="Visit my Twitter">
                                <i class="middle icon-twitter-sign icon-2x light-blue"></i>
                            </a>

                            <a href="#" class="tooltip-error" title="" data-original-title="Visit my Pinterest">
                                <i class="middle icon-pinterest-sign icon-2x red"></i>
                            </a>
                        </div>
                    </div>

                    <div class="hr hr12 dotted"></div>

                    <div class="clearfix">
                        <div class="center">
                            <span class="btn btn-app btn-sm btn-light no-hover">
                                <span class="line-height-1 bigger-170 blue">1,411 </span>

                                <br>
                                <span class="line-height-1 smaller-90">Views </span>
                            </span>

                            <span class="btn btn-app btn-sm btn-yellow no-hover">
                                <span class="line-height-1 bigger-170">32 </span>

                                <br>
                                <span class="line-height-1 smaller-90">Followers </span>
                            </span>

                            <span class="btn btn-app btn-sm btn-pink no-hover">
                                <span class="line-height-1 bigger-170">4 </span>

                                <br>
                                <span class="line-height-1 smaller-90">Projects </span>
                            </span>

                            <span class="btn btn-app btn-sm btn-grey no-hover">
                                <span class="line-height-1 bigger-170">23 </span>

                                <br>
                                <span class="line-height-1 smaller-90">Reviews </span>
                            </span>

                            <span class="btn btn-app btn-sm btn-success no-hover">
                                <span class="line-height-1 bigger-170">7 </span>

                                <br>
                                <span class="line-height-1 smaller-90">Albums </span>
                            </span>

                            <span class="btn btn-app btn-sm btn-primary no-hover">
                                <span class="line-height-1 bigger-170">55 </span>

                                <br>
                                <span class="line-height-1 smaller-90">Contacts </span>
                            </span>
                        </div>


                    </div>
                    <div class="hr hr16 dotted"></div>
                </div>

                <div class="col-xs-11 col-sm-9">

                    <div class="profile-user-info profile-user-info-striped">
                        <div class="profile-info-row">
                            <div class="profile-info-name">Username </div>

                            <div class="profile-info-value">
                                <span class="editable editable-click" id="username">alexdoe</span>
                            </div>
                        </div>

                        <div class="profile-info-row">
                            <div class="profile-info-name">Location </div>

                            <div class="profile-info-value">
                                <i class="icon-map-marker light-orange bigger-110"></i>
                                <span class="editable editable-click" id="country">Netherlands</span>
                                <span class="editable editable-click" id="city">Amsterdam</span>
                            </div>
                        </div>

                        <div class="profile-info-row">
                            <div class="profile-info-name">Age </div>

                            <div class="profile-info-value">
                                <span class="editable editable-click" id="age">38</span>
                            </div>
                        </div>

                        <div class="profile-info-row">
                            <div class="profile-info-name">Joined </div>

                            <div class="profile-info-value">
                                <span class="editable editable-click" id="signup">20/06/2010</span>
                            </div>
                        </div>

                        <div class="profile-info-row">
                            <div class="profile-info-name">Last Online </div>

                            <div class="profile-info-value">
                                <span class="editable editable-click" id="login">3 hours ago</span>
                            </div>
                        </div>

                        <div class="profile-info-row">
                            <div class="profile-info-name">About Me </div>

                            <div class="profile-info-value">
                                <span class="editable editable-click" id="about">Editable as WYSIWYG</span>
                            </div>
                        </div>
                    </div>
                    <div class="space-20"></div>
                </div>
            </div>
        </div>
    </div>
</div>
